{
    email vasiliy.mikhailov@gmail.com
}

inference.mikhailov.tech {
    reverse_proxy inference-vllm:8000 {
        header_up Host {upstream_hostport}
    }
}

openhands.mikhailov.tech {
    basic_auth {
        ops $2a$14$gj5/3/pA8ZsdUCvSMGovDOdx7T1.ArO.mvf30bDmxxchFm3C4sCKW
    }
    reverse_proxy openhands:3000 {
        header_up Host {upstream_hostport}
    }
}
